<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encriptador</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/css/index-style.css">
</head>
<body>
    <header>
        <div class="contenedor__header">
            <div class="contenedor__logo">
                <a href="https://www.aluracursos.com/" target="_blank">
                    <img src="../public/images/logo_alura2.svg" alt="logo_alura">
                </a>
            </div>
            <div class="contenedor__titulo">
                <h1>Encriptador de texto</h1>
            </div>
        </div>
    </header>

    <main>

    </main>

    <footer>
        <div class="contenedor__footer">
            <div class="contenedor__logo">
                <div class="logo">
                    <img src="../public/images/logo_oracleAlura.svg" alt="alura-oracle">
                </div>
            </div>
            <div class="contenedor__info">
                <ul>
                    <li>
                        <div class="titulo__info"><p>Nuestras redes</p></div>
                        <div class="deplegable"><i class="fa-solid fa-chevron-up"></i></div>
                    </li>
                    <li>
                        <div class="titulo__info"><p>Sobre mí</p></div>
                        <div class="deplegable"><i class="fa-solid fa-chevron-up"></i></div>
                    </li>
                </ul>
            </div>
            <div class="contenedor__copy">
                <p>&copy Copyright Alura Latam</p>
            </div>
        </div>
    </footer>
</body>
</html>